:root{
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    background-color: var(--white);
    color: var(--slate);
    width: 1440px;
    height: 600px;
    flex-shrink: 0px;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.link{
    text-decoration:none;
}

address {
    font-style: normal;

}

/* LOGO and Footer Logo */
.logo{
    color: var(--iris);
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size:18px;
    line-height: 1.2;
    text-decoration: none;
    margin-left: 156px;
}

.logo-black{
    color: var(--navy-blue);
 }

/*Logo Footer*/
.logo-white{
    color: var(--white);
}


/*ALL NAVIGATION AND OPTION LIST in index and portfolio and */
.header-container,
.nav-container,
.cta-container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

        
}

.nav-list-container .page {
    color:var(--navy-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
}
.nav-list-container{
    margin-left: 76px;

}

.cta-container{
    text-decoration: none;
    margin-left: 332px;
    
}
.item {
    list-style: none;
    text-decoration: none;
    color: var(--slate);
  
}

.nav-list-container .page:hover,
.nav-list-container .page:focus,
.nav-list-container .page.current,
.cta-container .item:hover,
.cta-container .item:focus{
    color: var(--ocean);
}


/* ALL BUTTONS  IN THIS SECTION*/
.buttons {
    font-family: inherit;
    letter-spacing: 0.03em;
    border-color: transparent;
    cursor: pointer;
}

.buttons {
    background-color: var(--iris);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.06em;
}

.order-services:hover,
.order-services:focus {
    background-color: var(--ocean);
}

.order-services {
    background-color: var(--iris);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.06em;
    padding: 16px 32px;
    border-radius: 3px;
    border: none;

}

/* HERO SECTION */
.hero {
    height: 500px;
    padding-top: 180px;
    background-color:var(--navy-blue);
    font-family: 'Roboto',sans-serif ;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    text-align: center;
}

.main-heading {
    color: var(--white);
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    line-height:1.36;
    letter-spacing: 0.06em;
}


/*FEATURE SECTION */
.features {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 50px;
}


/* WHAT WE DO SECTION*/
.section-head {
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 72px;
}

.whatwedo {
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 80px;
    
}

.whatwedo-container{
    justify-content: center;
}


/*OUR TEAM SECTION*/
.team-container {
    background-color: #F4F4FD;
    padding-top: 40px;
}


.teams {
    text-align: center;
    font-size: 36px;
    
}

.our-team {
    justify-content: center;
    padding-top: 72px;
   
    
}

.person-name {
    text-align:center;
}

.designation {
    text-align: center;
    padding-bottom: 72px;
}

/*FOR PORTFOLIO BUTTONS*/
.buttons.filter{
    background-color: var(--cornflower);
    padding: 6px 22px;
    color: var(--slate);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.buttons.filter:hover,
.buttons.filter:focus,
.buttons.filter.current {
     background-color: var(--ocean);
     color: var(--white);
}

.buttons-container{
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

/*PORTFOLIO SECTION*/
.pics{
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 156px;
    margin-right: 156px;
    padding-bottom: 75px;
}





/* FOOTERS */
.footer-container{
    background-color: var(--navy-blue);
    height: 200px;
    padding-top: 100px;
}

.footer-description {
    color: white;
    width: 300px;
    margin-left: 156px;
    padding-top: 10px;
    
}
